@tailwind base;
@tailwind components;
@tailwind utilities;

textarea {
	@apply w-full border my-1 py-2 px-3 rounded-2xl;
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
textarea {
	@apply w-full px-4 py-2 mt-2 border-b-4 text-gray-300 placeholder-gray-600 bg-black  border-black rounded-lg dark:placeholder-gray-400 dark:bg-white dark:text-gray-700 dark:border-gray-300 focus:border-b-red-400 dark:focus:border-b-red-400  focus:outline-none;
}

button {
	/* @apply bg-gray-300 ; */
	@apply w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-red-400 focus:outline-none focus:bg-red-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50;
}

/* For Firefox */
.custom-scroll {
	scrollbar-width: thin;
	scrollbar-color: #4a90e2 #f5f5f5;
}

/* For Webkit-based browsers like Chrome and Safari */
.custom-scroll::-webkit-scrollbar {
	width: 5px;
}

/* Make the scroll thumb circular */
.custom-scroll::-webkit-scrollbar-thumb {
	background-color: #4a90e2;
	border-radius: 30%; /* Makes the thumb circular */
}
.custom-scroll::-webkit-scrollbar-track {
	background-color: #f5f5f5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
