* {
    font-style: Montserrat;
}

.main {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.main .div {
    background-color: #ffffff;
    height: 1024px;
    position: relative;
    width: 1440px;
}

.main .header {
    background-color: #4427f8;
    height: 139px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
}

.main .text-wrapper {
    color: #ffffff;
    font-family: var(--main-bold-font-family);
    font-size: var(--main-bold-font-size);
    font-style: var(--main-bold-font-style);
    font-weight: var(--main-bold-font-weight);
    height: 58px;
    left: 90px;
    letter-spacing: var(--main-bold-letter-spacing);
    line-height: var(--main-bold-line-height);
    position: absolute;
    top: 39px;
    width: 306px;
}

.main .overlap-group {
    height: 75px;
    left: 852px;
    position: absolute;
    top: 32px;
    width: 511px;
}

.main .profile-pic {
    height: 75px;
    left: 422px;
    position: absolute;
    top: 0;
    width: 89px;
}

.main .header-options {
    height: 40px;
    left: 0;
    position: absolute;
    top: 17px;
    width: 460px;
}

.main .text-wrapper-2 {
    color: #ffffff;
    font-family: var(--header-sty-e-font-family);
    font-size: var(--header-sty-e-font-size);
    font-style: var(--header-sty-e-font-style);
    font-weight: var(--header-sty-e-font-weight);
    height: 25px;
    left: 58px;
    letter-spacing: var(--header-sty-e-letter-spacing);
    line-height: var(--header-sty-e-line-height);
    position: absolute;
    top: 7px;
    width: 92px;
}

.main .text-wrapper-3 {
    color: #ffffff;
    font-family: var(--header-sty-e-font-family);
    font-size: var(--header-sty-e-font-size);
    font-style: var(--header-sty-e-font-style);
    font-weight: var(--header-sty-e-font-weight);
    height: 25px;
    left: 158px;
    letter-spacing: var(--header-sty-e-letter-spacing);
    line-height: var(--header-sty-e-line-height);
    position: absolute;
    top: 7px;
    width: 121px;
}

.main .text-wrapper-4 {
    color: #ffffff;
    font-family: var(--header-sty-e-font-family);
    font-size: var(--header-sty-e-font-size);
    font-style: var(--header-sty-e-font-style);
    font-weight: var(--header-sty-e-font-weight);
    height: 25px;
    left: 287px;
    letter-spacing: var(--header-sty-e-letter-spacing);
    line-height: var(--header-sty-e-line-height);
    position: absolute;
    top: 7px;
    width: 92px;
}

.main .main-contents {
    height: 554px;
    left: 90px;
    position: absolute;
    top: 235px;
    width: 1260px;
}

.main .text-wrapper-5 {
    color: #000000;
    font-family: var(--header-main-font-family);
    font-size: var(--header-main-font-size);
    font-style: var(--header-main-font-style);
    font-weight: var(--header-main-font-weight);
    height: 84px;
    left: 0;
    letter-spacing: var(--header-main-letter-spacing);
    line-height: var(--header-main-line-height);
    position: absolute;
    top: 0;
    width: 1256px;
}

.main .camera-view-area {
    height: 442px;
    left: 3px;
    position: absolute;
    top: 111px;
    width: 765px;
}

.main .rectangle {
    background-color: #000000f0;
    border-radius: 8px;
    box-shadow: 0px 4px 12px -4px #00000040;
    height: 396px;
}

.main .updates {
    height: 442px;
    left: 860px;
    position: absolute;
    top: 112px;
    width: 398px;
}

.main .overlap {
    background-color: #fcfdff;
    border-radius: 8px;
    box-shadow: 0px 7px 14px -5px #00000040;
    height: 396px;
    position: relative;
}

.main .text-wrapper-6 {
    color: #000000;
    font-family: var(--description-font-family);
    font-size: var(--description-font-size);
    font-style: var(--description-font-style);
    font-weight: var(--description-font-weight);
    height: 20px;
    left: 117px;
    letter-spacing: var(--description-letter-spacing);
    line-height: var(--description-line-height);
    position: absolute;
    text-align: center;
    top: 187px;
    width: 164px;
}

.main .succes-mark {
    background-color: #a6f79f;
    border-radius: 76px;
    height: 152px;
    left: 123px;
    position: absolute;
    top: 22px;
    width: 152px;
}

.main .done {
    height: 96px;
    left: 28px;
    position: absolute;
    top: 28px;
    width: 96px;
}

.main .details {
    height: 145px;
    left: 30px;
    position: absolute;
    top: 222px;
    width: 345px;
}

.main .overlap-group-2 {
    height: 145px;
    position: relative;
    width: 337px;
}

.main .name-adwaith-PJ {
    color: #000000;
    font-family: var(--section-heading-font-family);
    font-size: var(--section-heading-font-size);
    font-style: var(--section-heading-font-style);
    font-weight: var(--section-heading-font-weight);
    height: 38px;
    left: 0;
    letter-spacing: var(--section-heading-letter-spacing);
    line-height: var(--section-heading-line-height);
    position: absolute;
    top: 0;
    width: 337px;
}

.main .roll-no {
    color: #000000;
    font-family: "DM Sans-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    height: 38px;
    left: 0;
    letter-spacing: -0.24px;
    line-height: normal;
    position: absolute;
    top: 36px;
    width: 337px;
}

.main .section-CSCE {
    color: #000000;
    font-family: "DM Sans-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    height: 38px;
    left: 0;
    letter-spacing: -0.24px;
    line-height: normal;
    position: absolute;
    top: 71px;
    width: 337px;
}

.main .branch-CSCE {
    color: #000000;
    font-family: "DM Sans-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    height: 38px;
    left: 0;
    letter-spacing: -0.24px;
    line-height: normal;
    position: absolute;
    top: 107px;
    width: 337px;
}

.main .footer {
    background-color: var(--dark-blue);
    height: 124px;
    left: 0;
    position: absolute;
    top: 900px;
    width: 1440px;
}

.main .text-wrapper-7 {
    color: var(--pure-white);
    font-family: var(--description-font-family);
    font-size: var(--description-font-size);
    font-style: var(--description-font-style);
    font-weight: var(--description-font-weight);
    height: 45px;
    left: 573px;
    letter-spacing: var(--description-letter-spacing);
    line-height: var(--description-line-height);
    position: absolute;
    text-align: center;
    top: 39px;
    width: 332px;
}